<% if params[:search] && !params[:search].blank? && @articles.size > 0 %>
	<h1 align="center">Searching results for "<%= params[:search] %>"</h1>
<% elsif params[:search] && !params[:search].blank? && @articles.size <= 0 %>
	<h1 align="center">No results for "<%= params[:search] %>"</h1>
<% else %>
	<h1 align="center">Listing all articles</h1>
<% end %>
<div align="center">
	<%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
	<%= will_paginate %>
</div>